/* Apply custom font to the body, other elements will also inherit it from body */
body {
  font-family: "Courier New", monospace;
}

.link-PGP-Key {
  background-color: #a13c94;
}

.link-SSH-Key {
  background-color: #3C62A1;
}

.link-certifications {
  background-color: #3CA149;
}

.link-creativity {
  background-color: #a8a432;
}
